
.dashboard-container {
    height: 100vh;
    background-color: var(--bg-color);
    color: var(--text-color);
    display: flex;
    /* justify-content: center; */
    align-items: center;
    /* cursor: pointer; */
    flex-direction: column;
    font-size: 20px;
    padding: 20px;
}

.dashboard_profile {
    width: 100%;
    height: 100px;
    background-color: var(--bg-color);
    display: flex;
    justify-content: flex-end;
}

.students_count, .absentees {
    width: 90%;
    height: fit-content;
    background-color: rgba(248, 212, 152, 0.71);    ;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 0 15px #00000040;
}
.absentees {
    background-color: rgba(240, 248, 152, 0.71);
    padding: 0 20px;
}
.absentees h3 {
    text-align: center;
}

.students_count_table {
    padding: 10px !important;
    width: 90%;
    text-align: left;
    margin: 10px;
    font-size: 20px;
}

.students_count_table tr td {
    color: green;
    font-weight: 600;
}
.students_count_table tr {
    border-bottom: 1px solid #0000000f;
}
.students_count_table tr:last-child {
    border-bottom: none;
}

.feature {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.feature div {
    background-color: #02CCC0;
    width: 48%;
    height: auto;
    margin: 10px 0;
    float: left;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
}
.feature p {
    margin: 10px 0;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
}

.li-class{
    margin: 0 0 10px 0;
}